body {
    font-family: 'Open Sans', sans-serif;
    text-align: center
}

header {
    padding: 1px;
    margin-bottom: 20px;
    background-color: #1ed760;
}

input[type=text] {
    width: 300px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    padding: 12px;
}

input[type=submit] {
    width: 130px;
    background-color: #1ed760;
    border: none;
    color: white;
    font-weight: bold;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=submit]:disabled {
    background-color: gray;
}

table {
    border-collapse: collapse;
    max-width:700px;
    display: inline;
}

td, th {
    border: 1px solid #dddddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
